*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
  font-weight: normal;
}

html {
  width: 100vw;
  height: 100vh;

  body {
    height: inherit;

    > #app {
      height: inherit;

      > section {
        height: inherit;

        main {
          > section {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}


/** 滚动条整体部分, 可以设置宽度, 颜色啥的 **/
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/** 滚动条两端的按钮 **/
::-webkit-scrollbar-button {
  background-color: unset;
}

/** 外层轨道 **/
::-webkit-scrollbar-track {
  background-color: unset;
}

/** 内层滚动槽 **/
::-webkit-scrollbar-track-piece {
  background-color: unset;
}

/** 滚动的滑块 **/
::-webkit-scrollbar-thumb:hover {
  background-color: #A3A6AD;
  border-radius: 5px;
}

/** 边角 **/
::-webkit-scrollbar-corner {
  background-color: unset;
}