.up-table {
  height: 100%;
}

::v-deep(.el-dropdown) {
  margin-top: 4px;
}

.el-row:nth-of-type(1) {
  height: 30%;
  overflow: auto;
}
.el-row:nth-of-type(2) {
  height: 8%;
  display: flex;
  align-items: center;
  padding-left: 1%;
}
.el-row:nth-of-type(3) {
  height: 54%;

  ::v-deep(.el-col) {
    height: 100%;
  }

  ::v-deep(.el-table) {
    height: 100%;
  }
}
.el-row:nth-of-type(4) {
  height: 8%;
  /* background-color: rgb(0, 30, 30); */

  ::v-deep(.el-col) {
    display: flex;
    align-items: flex-end;
  }

  ::v-deep(.el-pagination__jump) {
    /* color: black; */
    color: white;
  }
}
.el-col {
  border-radius: 4px;
}

.grid-content {
  border-radius: 4px;
  min-height: 36px;
}

::v-deep(.el-table) {
  .success-row {
    background-color: #f0f9eb;
  }
  
  .warning-row {
    background-color: #fdf6ec;
  }

  .ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}